{% extends 'frontbase.html.twig' %} 
{% block title %}Genodics-Connexion{% endblock%} 
{% block body %}

<!-- site wrapper -->
<div class="site-wrapper">
  <div class="main-overlay"></div>

  <!-- header -->
  {% include "headerBlanc.html.twig" %}

  <!-- page header -->
  <section class="page-header">
    <div class="container-xl">
      <div class="text-center">
        <h1 class="mt-0 mb-2">{{titre}}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{titre}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <!-- section main content -->
  <section class="main-content">
    <div class="container-xl">
      <div class="row">
        <div class="col-sm-6 mx-auto mb-5">

            <form method="post" class="p-5 border rounded">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnecter</a>
                    </div>
                {% endif %}
            
                <h1 class="h3 mb-3 font-weight-normal text-center">Merci de se connecter</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-3" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mt-3" autocomplete="current-password" required>
            
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
            
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            
                <button class="btn btn-lg btn-default d-block text-center mx-auto w-100 mt-3" type="submit">
                    Connexion
                </button>
                <span class="text-center d-block">Vous voulez faire <a href="{{ path('app_register') }}">une inscription ?</a></span>
            </form>

        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  {% include "footer.html.twig" %}
</div>
<!-- end site wrapper -->

{% include "menu.html.twig" %} {% endblock %}
