{% extends 'frontbase.html.twig' %} 
{% block title %}Genodics-Accueil{% endblock%} 
{% block body %}

<!-- site wrapper -->
<div class="site-wrapper">
  <div class="main-overlay"></div>

  {% include "header.html.twig" %}

  <!-- section hero -->
  <section
    class="hero data-bg-image d-flex align-items-center"
    data-bg-image="images/other/hero.jpg"
  >
    <div class="container-xl">
      <!-- call to action -->
      <div class="cta text-center">
        <h2 class="mt-0 mb-4">Joël Sternheimer</h2>
        <p class="mt-0 mb-4">Location:  Paris </p>                    
        <p class="mt-0 mb-4">Birth Date: Jan. 31, 1943</p>
        <p class="mt-0 mb-4">Sex: Male</p>
        <p class="mt-0 mb-4">Marital Status: Married, two children</p>
        <p class="mt-0 mb-4">occupation: Independant physicst.</p>
        <a href="#" class="btn btn-light mt-2">Savoir plus</a>
      </div>
    </div>
    <!-- animated mouse wheel -->
    <span class="mouse">
      <span class="wheel"></span>
    </span>
    <!-- wave svg -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 260">
      <path
        fill="#FFF"
        fill-opacity="1"
        d="M0,256L60,245.3C120,235,240,213,360,218.7C480,224,600,256,720,245.3C840,235,960,181,1080,176C1200,171,1320,213,1380,234.7L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>
  </section>

  <!-- section main content -->
  <section class="main-content mt-5">
    <div class="container-xl">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="row gy-4">
            {% for article in publications %}
              <div class="col-sm-12">
              <!-- post -->
              <div class="post post-grid rounded bordered">
                <div class="thumb top-rounded">
                  <a
                    href="category.html"
                    class="category-badge position-absolute"
                    >{{article.categorie}}</a
                  >
                  <span class="post-format">
                    <i class="icon-doc"></i>
                  </span>
                  <a href="{{asset('uploads/articles/')}}{{article.fichier}}">
                    <div class="inner">
                      <img width="100%" height="200" src="{{asset('uploads/articles/images/')}}{{article.image}}" alt="post-title" />
                    </div>
                  </a>
                </div>
                <div class="details">
                  <ul class="meta list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="#"
                        ><img
                          src="images/other/author-sm.png"
                          class="author"
                          alt="author"
                        />{{article.auteur}}</a
                      >
                    </li>
                    <li class="list-inline-item">{{article.createdAt|date("m/Y")}}</li>
                  </ul>
                  <h5 class="post-title mb-3 mt-3">
                    <a href="{{asset('uploads/articles/')}}{{article.fichier}}"
                      >{{article.titre}}</a
                    >
                  </h5>
                  <p class="excerpt mb-0">
                    {{article.description|raw}}
                  </p>
                </div>
                <div class="post-bottom clearfix d-flex align-items-center">
                  
                  <div class="more-button float-end">
                    <a href="{{asset('uploads/articles/')}}{{article.fichier}}"
                      ><span class="icon-options"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            


          </div>

          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-4">
          <!-- sidebar -->
          <div class="sidebar">
            <!-- widget about -->
            <div class="widget rounded">
              <div
                class="widget-about data-bg-image text-center"
                data-bg-image="images/map-bg.png"
              >
                <img
                  src="{{ asset('front/images/logoNoir.png') }}"
                  alt="logo"
                  class="mb-4"
                />
                <p class="mb-4">
                  La génodique est une technologie innovante permettant aux cultures de résister aux maladies et mieux grandir.
Des mélodies appelées protéodies pour renforcer les cultures, prévenir et combattre les maladies.
                </p>
                {% include "socialMedia.html.twig" %}
              </div>
            </div>

            <!-- widget popular posts -->
            <div class="widget rounded">
              <div class="widget-header text-center">
                <h3 class="widget-title">Popular Posts</h3>
                <img src="images/wave.svg" class="wave" alt="wave" />
              </div>
              <div class="widget-content">
                <!-- post -->
                <div class="post post-list-sm circle">
                  <div class="thumb circle">
                    <span class="number">1</span>
                    <a href="blog-single.html">
                      <div class="inner">
                        <img src="images/posts/tabs-1.jpg" alt="post-title" />
                      </div>
                    </a>
                  </div>
                  <div class="details clearfix">
                    <h6 class="post-title my-0">
                      <a href="blog-single.html"
                        >3 Easy Ways To Make Your iPhone Faster</a
                      >
                    </h6>
                    <ul class="meta list-inline mt-1 mb-0">
                      <li class="list-inline-item">29 March 2021</li>
                    </ul>
                  </div>
                </div>
                <!-- post -->
                <div class="post post-list-sm circle">
                  <div class="thumb circle">
                    <span class="number">2</span>
                    <a href="blog-single.html">
                      <div class="inner">
                        <img src="images/posts/tabs-2.jpg" alt="post-title" />
                      </div>
                    </a>
                  </div>
                  <div class="details clearfix">
                    <h6 class="post-title my-0">
                      <a href="blog-single.html"
                        >An Incredibly Easy Method That Works For All</a
                      >
                    </h6>
                    <ul class="meta list-inline mt-1 mb-0">
                      <li class="list-inline-item">29 March 2021</li>
                    </ul>
                  </div>
                </div>
                <!-- post -->
                <div class="post post-list-sm circle">
                  <div class="thumb circle">
                    <span class="number">3</span>
                    <a href="blog-single.html">
                      <div class="inner">
                        <img src="images/posts/tabs-3.jpg" alt="post-title" />
                      </div>
                    </a>
                  </div>
                  <div class="details clearfix">
                    <h6 class="post-title my-0">
                      <a href="blog-single.html"
                        >10 Ways To Immediately Start Selling Furniture</a
                      >
                    </h6>
                    <ul class="meta list-inline mt-1 mb-0">
                      <li class="list-inline-item">29 March 2021</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- widget categories -->
            <div class="widget rounded">
              <div class="widget-header text-center">
                <h3 class="widget-title">Explore Topics</h3>
                <img src="images/wave.svg" class="wave" alt="wave" />
              </div>
              <div class="widget-content">
                <ul class="list">
                  <li><a href="#">Lifestyle</a><span>(5)</span></li>
                  <li><a href="#">Inspiration</a><span>(2)</span></li>
                  <li><a href="#">Fashion</a><span>(4)</span></li>
                  <li><a href="#">Politic</a><span>(1)</span></li>
                  <li><a href="#">Trending</a><span>(7)</span></li>
                  <li><a href="#">Culture</a><span>(3)</span></li>
                </ul>
              </div>
            </div>

            

            <!-- widget post carousel -->
            

          
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
{% include "sites.html.twig" %}
  {% include "footer.html.twig" %}

<!-- end site wrapper -->

{% include "menu.html.twig" %} {% endblock %}
