{% extends 'frontbase.html.twig' %} {% block title %}Genodics-Inscription{%
endblock%} {% block body %}

<!-- site wrapper -->
<div class="site-wrapper">
  <div class="main-overlay"></div>

  <!-- header -->
  {% include "headerBlanc.html.twig" %}

  <!-- page header -->
  <section class="page-header">
    <div class="container-xl">
      <div class="text-center">
        <h1 class="mt-0 mb-2">{{ titre }}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
              <a href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ titre }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <!-- section main content -->
  <section class="main-content">
    <div class="container-xl">
      <div class="row">
        <div class="col-sm-6 mx-auto mb-5">
          <div class="p-5 border rounded">
            <h1 class="text-center">Inscription</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.email) }}
            {{
              form_row(registrationForm.plainPassword, {
                label: "Mot de passe"
              })
            }}

            <button type="submit" class="btn btn-default mt-3 w-100">Inscription</button>
            {{ form_end(registrationForm) }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  {% include "footer.html.twig" %}
</div>
<!-- end site wrapper -->

{% include "menu.html.twig" %} {% endblock %}
