{% set route = app.request.attributes.get('_route') %}
<li class="nav-item dropdown {{route =='index' ? 'active' : ''}}">
							<a class="nav-link" href="{{path('app_home')}}">Accueil</a>
							
						</li>
						
						<li class="nav-item {{route =='app_media' ? 'active' : ''}}">
							<a class="nav-link dropdown-toggle" href="{{path('app_media')}}">Media</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{path('temoignages')}}">Témoignages</a></li>
								<li><a class="dropdown-item" href="{{path('reportages')}}">Reportages</a></li>
								<li><a class="dropdown-item" href="{{path('presse')}}">Press</a></li>

							</ul>
						</li>
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" href="{{path('article_categorie',{'categorie':10})}}">Publications</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{path('article_categorie',{'categorie':11})}}">De Joël Sternheimer</a></li>
								<li><a class="dropdown-item" href="{{path('article_categorie',{'categorie':12})}}">Autres</a></li>
							</ul>
						
						</li>
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" href="{{path('article_categorie',{'categorie':13})}}">Textes d'intérêt</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{path('article_categorie',{'categorie':14})}}">De Joël Sternheimer</a></li>
								<li><a class="dropdown-item" href="{{path('article_categorie',{'categorie':15})}}">Autres</a></li>
							</ul>
								
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="#">Inscription</a>	
						</li>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="#">Connexion</a>	
						</li>
						
						<li class="nav-item {{route =='app_contact' ? 'active' : ''}}">
							<a class="nav-link" href="{{path('app_contact')}}">Contact</a>
						</li>